<!-- <div class="feed-container">
  {% for i in rooms %}
      <div>
        {% if request.user == i.host %}
        <div class="action-buttons">
          <a href="{% url 'update-room' i.id %}">Edit</a>
          <a href="{% url 'delete-room' i.id %}">Delete</a>
        </div>
          
        {% endif %}
        

        <a href="{% url 'user-profile' i.host.id %}">
          <span>@{{ i.host.username }}</span>
          <time>{{i.created|timesince}} ago</time>
      </a>
        <h5>{{i.id}} = <a href="{% url 'room' i.id %}">{{i.name}}</a></h5>
        <small>{{i.topic.name}}</small>
        
      </div>
      {% endfor %}
</div> -->

<div class="feed-container">
  {% for i in rooms %}
      <div>
        {% if request.user == i.host %}
        <div class="action-buttons-edit">
            <a href="{% url 'update-room' i.id %}" title="Edit">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                </svg>
            </a>
        </div>
        <div class="action-buttons-delete">
            <a href="{% url 'delete-room' i.id %}" title="Delete">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M3 6h18"></path>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"></path>
                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                </svg>
            </a>
        </div>
    {% endif %}

          <a href="{% url 'user-profile' i.host.id %}">
              <span>@{{ i.host.username }}</span>
              
          </a>
          <time>{{i.created|timesince}} ago</time>
          
          <h5><a href="{% url 'room' i.id %}">{{i.name}}</a></h5>
          <small>{{i.topic.name}}</small>
      </div>
  {% endfor %}
</div>
