<div class="feed-container">
  {% for i in rooms %}
  <div data-room-id="{{ i.id }}">
    {% if request.user == i.host %}
    <div class="action-buttons-edit">
      <a href="{% url 'update-room' i.id %}" title="Edit Room"> 
        <i class="fas fa-edit"></i> Edit
      </a>
    </div>
    <div class="action-buttons-delete">
      <a href="{% url 'delete-room' i.id %}" title="Delete Room"> 
        <i class="fas fa-trash"></i> Delete
      </a>
    </div>
    {% endif %}

    <a href="{% url 'user-profile' i.host.id %}" class="user-link">
      <span>@{{ i.host.username }}</span>
    </a>
    <time datetime="{{ i.created|date:'c' }}">{{i.created|timesince}} ago</time>

    <h5><a href="{% url 'room' i.id %}">{{i.name}}</a></h5>
    <small class="topic-tag">{{i.topic.name}}</small>
  </div>
  {% endfor %}
</div>
