{% extends 'main.html' %} 

{% block content %}
<div class="home-container">
    <div class="sidebar-left">
        {% include 'base/topic_widget.html' %}
    </div>

    <div class="main-content">
        <div class="header-section">
            <h5><span>Search across {{room_count}} rooms</span></h5>
            <a href="{% url 'create-room' %}" class="create-room-btn">Create Room</a>
        </div>
        <hr>
        <div class="feed-section">
            {% include 'base/feed_widget.html' %}
        </div>
    </div>

    <div class="sidebar-right">
        {% include 'base/activity_widget.html' %}
    </div>
</div>
{% endblock %}
