{% extends 'main.html' %}

{% block content %}
<div class="login-container">
    <form method="post" action="" novalidate>
        {% csrf_token %}

        <div class="form-field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter username" required>
        </div>

        <div class="form-field password-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password" required>
        </div>

        <input type="submit" value="Login">

        <p>Don't have an account?</p>
        <a href="{% url 'register-user' %}">Register</a>
    </form>
</div>
{% endblock content %}
